:root {
--font:"Bungee Shade"; 
--font-color:rgb(71, 71, 1);
--border-color: double rgb(243, 116, 184)
}
* {
    margin-inline:0;
    box-sizing: border-box;
}
header {
    background-color: rgb(237, 168, 247);
    color:rgb(71, 71, 1);
    margin-inline: 0;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    opacity: none;
    
}
h1 {
    position:relative;
    font-family: var(--font);
    font-size:50px;
    letter-spacing: 5px;
    margin:0;
}
h3 {
    font-family: var(--font);
    color:var(--font-color);
    letter-spacing: 8px;
}
ul {
    left: 20px;
    display:flex;
}
nav {
    justify-content:center;
    background-color:lavenderblush;
    padding: 1em;
    align-content:center;
    display:flex;
    font-stretch: 1em;
    margin:0;
}
li {
list-style-type: none; 
display: inline;   
border: var(--border-color);
border-radius: 1em;
padding: .5em 3em;
margin: .5em 3em;
font-family: var(--font);
color:var(--font-color);
letter-spacing: 2px;
font-weight:800;
text-align: center;
}

/*Styling to make the background image transparent, and no other elements transparent. As well as fix the position of the background image*/  
.background-image {
position:fixed;
z-index: -10;    
display: block;
    left:0;
    top:0;
    width:100%;
    min-height: 100%;
    min-width:1024px;
    width:100%;
    height:auto;
    background-image: url("https://images.unsplash.com/photo-1600759487717-62bbb608106e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGF2ZW5kZXIlMjBmaWVsZHxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat:no-repeat;
    background-size:cover;
    opacity: 0.3;
}

main{
    position:relative;
    flex-wrap: wrap;
    justify-content: center;
}
/*Container for the Accessibility article and image together*/
.accessibility-section {
    max-width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
/*Container for the css article and image together*/
.css-section {
display:flex;
}
/*Container for the More to Come article and image together*/
.more-section {
display:flex;
flex-direction: row-reverse;
}
/*Container for each text box*/
article {    
margin: 25px;
height: 200px;
border-style:groove;
border: var(--border-color);
border-radius: 1em;
width: 75%;
text-align:center;
align-items: center;
}
h2 {
font-family: var(--font);
color:rgb(71, 71, 1);
letter-spacing: 5px;
margin:0;
}
/*Styles the first image in the Accessibility section*/
.accessibility-img{
   max-width:  75%;
    height: 900px;
    margin: 25px; 
    border-radius: 1em;
    border: var(--border-color);
}
/*Styles the placeholder image in More to Come section*/
.placeholder-img {
height:200px;
width:40%;
border: var(--border-color);
border-radius: 1em;
margin: 25px;
}

/*Container box for the About Me section*/
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:var(--border-color);
    border-radius: 1em;
    margin:10px;
}
/*This styles the image in the About Me section*/
.about-me-img {
    height: auto;
    max-width: 200px;
    margin-top: 10px;
    border-radius: 1em;

}
p {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: larger;
margin:2em;
text-align: center;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*These rules apply when the viewers screen is below 1203px*/
@media screen and (max-width: 1203px ) {
    ul {
    flex-direction: column;
    flex-shrink:0;
    }
}
/*These rules apply when the viewers screen is below 800px*/
@media screen and (max-width: 800px) {
    .accessibility-img {
        flex-shrink:0;
        height: 200px;
        width: 200px;
    }
    p {
        margin:0;
        padding:10px;
    }
    

/*These rules apply when the users screen is below 644px*/
@media screen and (max-width: 644px){
    h2 {
        font-size:20px;
    }
    p{
        padding:0px;
    }
}
