:root {
--font:"Bungee Shade"; 
--font-color:rgb(71, 71, 1);
--border-color: double rgb(243, 116, 184)
}
* {
    margin-inline:0;
    box-sizing: border-box;
}
header {
    background-color: rgb(237, 168, 247);
    color:rgb(71, 71, 1);
    margin-inline: 0;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    opacity: none;
    
}
h1 {
    position:relative;
    font-family: var(--font);
    font-size:50px;
    letter-spacing: 5px;
    margin:0;
}
h3 {
    font-family: var(--font);
    color:var(--font-color);
    letter-spacing: 8px;
}
ul {
    left: 20px;
    display:flex;
}
nav {
    justify-content:center;
    background-color:lavenderblush;
    padding: 1em;
    align-content:center;
    display:flex;
    font-stretch: 1em;
    margin:0;
}
li {
list-style-type: none; 
display: inline;   
border: var(--border-color);
border-radius: 1em;
padding: .5em 3em;
margin: .5em 3em;
font-family: var(--font);
color:var(--font-color);
letter-spacing: 2px;
font-weight:800;
text-align: center;
}

li:hover {
    color: yellow;
}
  
.background-image {
position:fixed;
z-index: -10;    
display: block;
    left:0;
    top:0;
    width:100%;
    min-height: 100%;
    min-width:1024px;
    width:100%;
    height:auto;
    background-image: url("https://images.unsplash.com/photo-1600759487717-62bbb608106e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGF2ZW5kZXIlMjBmaWVsZHxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat:no-repeat;
    background-size:cover;
    opacity: 0.3;
}

main{
    position:relative;
    flex-wrap: wrap;
    justify-content: center;
}
.accessibility-section {
    max-width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.css-section {
display:flex;
}
.more-section {
display:flex;
flex-direction: row-reverse;
}

article {    
margin: 25px;
height: 200px;
border-style:groove;
border: var(--border-color);
border-radius: 1em;
width: 75%;
text-align:center;
align-items: center;
}
h2 {
font-family: var(--font);
color:rgb(71, 71, 1);
letter-spacing: 5px;
margin:0;
}
.accessibility-img{
   max-width:  75%;
    height: 900px;
    margin: 25px; 
    border-radius: 1em;
    border: var(--border-color);
}
.placeholder-img {
height:200px;
width:40%;
border: var(--border-color);
border-radius: 1em;
margin: 25px;
}
aside {
border:var(--border-color);
border-radius: 1em;
margin:10px;
}
#about-me {
   scroll-behavior:smooth; 
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.about-me-img {
    height: auto;
    max-width: 200px;
    margin-top: 10px;
    border-radius: 1em;

}
p {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: larger;
margin:2em;
text-align: center;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width 1203px) {
    ul {
    flex-direction: column;
    flex-shrink:0;
    }
}

@media screen and (max-width 800px) {
    .accessibility-img {
        height: 200px;
        width: 200px;
    }
}
